.register-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
}

.register-form {
  width: 320px;
  padding: 25px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.register-form h2 {
  text-align: center;
  margin-bottom: 10px;
}

.register-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-form button {
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background: #0066ff;
  color: white;
  font-weight: bold;
}
.register-form #login{
    background-color: #dbd9d9;
    color: black;
}

.btn-back {
  background: #555;
}

.error {
  color: red;
  font-size: 14px;
}

.success {
  color: green;
  font-size: 14px;
}
